@font-face {
  font-family: "Georgia Regular";
  src: url("Georgia.eot");
  src: url("Georgia.eot?#iefix") format("embedded-opentype"),
    url("Georgia.woff") format("woff"), url("Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial Italic";
  src: url("../fonts/ARIALI\ 1.TTF");
}

@font-face {
  font-family: "Georgia Regular";
  src: url("../fonts/georgia.ttf");
}

@font-face {
  font-family: "Arial";
  src: url("../fonts/ARIAL.TTF");
}

:root {
  --background: #e5e5e5;
  --color-light-xl: #ffffff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --start-screen-gradient-background: #211f20;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0%;
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 0.9375rem;
  color: var(--color-dark-l);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.overlay.-active {
  display: block;
}

body.-active {
  overflow-y: hidden;
  z-index: 1002;
}

.wrapper-each {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  margin: 0 auto;
}

.link {
  text-decoration-line: none;
  font-family: "Arial";
  color: var(--color-dark-s);
}
/* header --------------------------------------------------------------------------------------------------------------------------------*/
.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem 0.5rem 2rem 2.7rem;
}

.header-logo-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-title-main {
  padding-top: 0.2rem;
  margin-bottom: 0.7rem;
  font-family: "Noto Serif Georgian", serif;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.logo-subtitle {
  font-family: "Arial";
  font-size: 0.8rem;
  letter-spacing: 0.093rem;
}

.nav-item {
  display: inline-block;
  margin-right: 1.9rem;
  list-style: none;
}

.nav-link {
  font-family: "Arial";
  font-size: 0.95rem;
  line-height: 160%;
  color: var(--color-dark-s);
  transition: 0.5s all;
}

.nav-link:hover {
  color: var(--color-light-s);
  cursor: pointer;
}

.choose-nav {
  color: var(--color-light-s);
  border-bottom: 0.2rem solid var(--color-primary);
  transition: 0.5s;
}

header,
#footer-pets,
#not-only,
#footer {
  background-color: var(--start-screen-gradient-background);
  background: linear-gradient(to right, #5b483a, #262425),
    url(../assets/img/noise_transparent@2x.png);
  background-blend-mode: overlay;
}

@media (max-width: 1200px) {
  .container-header {
    justify-content: center;
  }

  .nav-item {
    margin-right: 3rem;
  }
}

@media (max-width: 870px) {
  .container-header {
    padding: 1.5rem 1.8rem 0.9rem 1rem;
  }

  .nav-item {
    margin-right: 2rem;
  }
}

@media (max-width: 768px) {
  .container-header {
    justify-content: center;
    padding: 1.8rem 0rem 0.85rem 1.8rem;
  }

  .header-logo-link {
    padding-right: 2.2rem;
  }

  .nav-item {
    margin-right: 1.9rem;
  }
}

@media (max-width: 767px) {
  .container-header {
    justify-content: space-between;
    padding: 1.7rem 1.3rem 0.9rem 1.3rem;
  }

.burger {
  z-index:1001;
  position: relative;
  width: 30px;
  height: 22px;
  cursor: pointer;
}

.burger span,
.burger::before,
.burger::after {
  left: 0;
  position: absolute;
  height:2px;
  width: 100%;
  transition: all 0.5s ease 0s;
  background-color:var(--color-primary);
}
.burger::before,
.burger::after {
  content: '';
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom:0;
}
.burger span {
  top: 50%;
}

.burger.-active span {
  top:50%;
  transform: rotate(90deg) translate(0, 0%);
}
.burger.-active::before {
  top:50%;
  transform: rotate(90deg) translate(0,-500%);
}
.burger.-active::after {
  top:50%;
  transform: rotate(90deg) translate(0, 500%);
}

.nav {
position: fixed;
top: 0;
right: -320px;
width: 320px;
height: 100%;
background-color: var(--color-dark-3xl);
transform: translateX(0%);
transition: transform 0.5s ease-out, right 0.5s ease-out;
z-index: 1000;
}

.nav.-active {
transform: translateX(0%);
right: 0;
}

.nav-list {
padding-top: 13.75rem;
text-align: center;
line-height: 5.8rem;
}

.nav-link {
  font-size:2rem;
}
} 

@media (max-width: 320px) {
  .container-header {
    justify-content: space-between;
    padding:1.7rem 1.2rem 0rem;
  }

  .nav {
    width: 100%;
  }

  .nav-list {
    padding-top: 13.75rem 0rem;
    text-align: center;
    line-height: 5.8rem;
    }

    .nav-item {
      margin-right: 2.1rem;
    }
}

/* not-onty --------------------------------------------------------------------------------------------------------------------------------*/
#not-only {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.section-not-only {
  padding: 3.6rem 2.5rem 0rem;
}

.not-only-text {
  padding: 8rem 2rem 0rem 0rem;
}

.title-not-only {
  padding-right: 4rem;
  margin-bottom: 2.5rem;
  font-weight: 300;
  font-size: 2.75rem;
  line-height: 130%;
  color: var(--color-light-xl);
}

.p-not-only {
  margin-bottom: 2.65rem;
  font-family: "Arial";
  line-height: 160%;
  color: var(--color-dark-s);
}

.btn-mk-friends {
  align-items: center;
  width: 12.9rem;
  height: 3.3rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.btn-mk-friends:hover,
.btn-mk-friends:focus {
  color: var(--color-primary);
  background-color: var(--color-light-s);
  border: 0.15rem solid var(--color-primary);
}

.link-mk-friends {
  font-family: "Noto Serif Georgian", serif;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-size: 0.98rem;
  color: var(--color-dark-3xl);
}

@media (max-width: 1100px) {
  .section-not-only {
    max-height: 100%;
    flex-wrap: wrap;
    padding: 1rem auto;
  }

  .not-only-text {
    padding: 2rem 17rem 5rem 5rem;
  }
}

@media (max-width: 920px) {
  .not-only-text {
    padding: 1rem 16rem 5rem 4rem;
  }

  .img-not-only {
    margin: 1.3rem 0rem 0rem 0.8rem;
    width: 580px;
    height: 600px;
  }
}

@media (max-width: 768px) {
  .section-not-only {
    padding: 0rem 2rem 0rem 9.6rem;
  }

  .not-only-text {
    padding: 0.5rem 7rem 5rem 0rem;
  }

  .btn-mk-friends {
    margin-left: 7.9rem;
  }

  .img-not-only {
    margin: 1.3rem 0rem 0rem 0.8rem;
    width: 569px;
    height: 593px;
  }
}

@media (max-width: 767px) {
  .section-not-only {
    padding: 1rem 4rem ;
  }

  .not-only-text {
    padding: 0.5rem 3rem 5rem 0rem;
  }

  .btn-mk-friends {
    margin-left: 5rem;
  }

  .img-not-only {
    width: 380px;
    height: 400px;
  }
}

@media (max-width: 560px) {
  .section-not-only {
    padding: 1rem 2rem 0rem 2.3rem;
  }

  .title-not-only {
    text-align: center;
    padding: 0.8rem 2rem 0rem 2rem;
    font-size: 1.8rem;
  }

  .not-only-text {
    padding: 0.5rem 1rem 2rem 1rem;
  }

  .p-not-only {
    text-align: center;
    padding: 0rem 0.5rem 0rem 0rem;
  }
  
  .btn-mk-friends {
    margin-left: 3rem;
  }

  .img-not-only {
    width: 320px;
    height: 360px;
  }
}

@media (max-width: 400px) {
  .section-not-only {
    padding: 1rem 1rem 0rem;
  }

  .not-only-text {
    padding: 0rem;
  }

  .title-not-only {
    padding: 0.5rem 4rem 0rem 3rem;
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
  }

  .p-not-only {
    text-align: center;
    padding: 0rem 1.5rem;
  }

  .btn-mk-friends {
    margin-left: 3rem;
    margin-top: -0.15rem;
  }

  .img-not-only {
    margin: 6.5rem 0rem 0rem 2.5rem;
    width: 260px;
    height: 272px;
  }
}

@media (max-width: 320px) {
  .section-not-only {
    padding: 1.7rem 0rem 0rem;
  }

  .not-only-text {
    padding: 0rem;
  }

  .title-not-only {
    padding: 0.8rem 3rem 0rem 2.9rem;
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
  }

  .p-not-only {
    text-align: center;
    padding: 0rem 0.7rem 0rem 1.1rem;
  }

  .btn-mk-friends {
    margin-left: 3.5rem;
    margin-top: -0.15rem;
  }

  .img-not-only {
    margin: 6.5rem 0rem 0rem 3rem;
    width: 260px;
    height: 272px;
  }
}

/* about --------------------------------------------------------------------------------------------------------------------------------*/
#about,
#help {
  background-color: var(--color-light-xl);
}

.section-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3.7rem 4rem 5.65rem 13.5rem;
}

.img-about {
  margin-top: 1.4rem;
}

.block-text-about {
  text-align: start;
  padding: 0rem 9rem 0rem 5rem;
}

.title-about,
.title-our-friends,
.title-help {
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 130%;
  color: var(--color-dark-l);
}

.title-about {
  text-align: start;
  padding: 0rem 2.4rem;
  margin-bottom: 1.4rem;
}

.p-about {
  padding: 0rem 0rem 0.5rem 2.4rem;
  text-align: left;
  font-family: "Arial";
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 160%;
  color: var(--color-dark-xl);
}

@media (max-width: 1100px) {
  .section-about {
    flex-wrap: wrap-reverse;
    padding: 2.7rem 11rem 4rem 6rem;
  }

  .img-about {
    margin-left: 11rem;
  }

  .block-text-about {
    padding: 0rem 5rem 0rem 3rem;
  }

  .p-about {
    padding: 0rem 0rem 0.5rem 2rem;
  }
}

@media (max-width: 920px) {
  .section-about {
    flex-wrap: wrap-reverse;
    padding: 2rem 8rem 3rem 5rem;
  }

  .img-about {
    margin-left: 8rem;
  }

  .block-text-about {
    padding: 0rem 3rem 0rem 2rem;
  }

  .title-about {
    padding: 0rem 1.8rem;
    margin-bottom: 1rem;
  }

  .p-about {
    padding: 0rem 0rem 0.5rem 1.2rem;
  }
}

@media (max-width: 768px) {
  .section-about {
    flex-wrap: wrap-reverse;
    padding: 2.9rem 9.5rem 4rem 9.5rem;
  }

  .img-about {
    margin: 3.5rem 5.2rem 2.3rem 5rem;
  }

  .block-text-about {
    padding: 0rem 1rem 0rem 1rem;
  }

  .title-about {
    padding: 0rem 4rem 0.3rem 0rem;
  }

  .p-about {
    padding: 0rem 0rem 0.5rem 0rem;
  }
}

@media (max-width: 600px) {
  .section-about {
    flex-wrap: wrap-reverse;
    padding: 2.9rem 4rem 4rem 3rem;
  }

  .img-about {
    margin: 3.5rem 7rem 2.3rem 2rem;
    width: 260px;
    height: 353.6px;
  }

  .block-text-about {
    padding: 0rem 1rem;
  }

  .title-about {
    padding: 0rem 2rem 0.3rem 0rem;
  }
}

@media (max-width: 400px) {
  .img-about {
    margin: 3.5rem 11rem 2.3rem 0rem;
  }
}

@media (max-width: 320px) {
  .section-about {
    padding: 0rem 0.5rem 2.7rem;
  }

  .block-text-about {
    padding: 0.8rem 0.9rem 0rem 0.9rem;
  }

  .title-about {
    padding: 0.5rem 1rem 0.5rem 1.25rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.12rem;
  }

  .img-about {
    width: 240px;
    height: 353.6px;
    margin: 1.1rem 0rem 0rem 1.5rem;
  }

  .p-about {
    text-align: justify;
    padding: 0rem 0rem 0.3rem 0rem;
  }
}
/* our friends--------------------------------------------------------------------------------------------------------- */
.section-our-friends {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0rem 0.3rem;
}

.title-our-friends {
  display: flex;
  justify-content: center;
  padding: 1.5rem 2rem 0.4rem;
}

.slider-wraper {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
}

.next {
  order: 3;
}

.slider-container {
min-width: 56rem;
max-width: 56rem;
order: 2;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 56rem;
  transition: ease-in-out 1s;
}

.figure-friends {
  max-width: 16.875rem;
  height: 27.1875rem;
  margin: 1.22% 1.74% 1% 1.3%;
  background-color: var(--color-light-s);
  border-radius: 0.8rem;
  box-shadow: 0.05rem 0.05rem 0.05rem solid var(--color-dark-l); 
}

@keyframes prevSlide {
  0% {
    transform: translateX(0);
  }

  90% {
    transform: translateX(-7%);
  }
}

@keyframes nextSlide {
  0% {
    transform: translateX(0);
  }

  90% {
    transform: translateX(7%);
  }
}

.figure-friends:hover,
.figure-friends:focus {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 1rem 1rem 1rem 1rem var(--color-dark-3xl);
}

.img-friends {
  border-radius: 0.8rem 0.8rem 0rem 0rem;
}

.figcaption-friends {
  padding-top: 2.6%;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  box-shadow: 0.7rem var(--color-dark-l);
}

.figcaption-friends:hover {
  color: var(--color-primary);
  font-weight: 700;
}

.middle-card {
  margin-left: 2.45%;
  margin-right: 2.55%;
}

.btn-learn-more {
  align-items: center;
  margin: 4.2% 0% 0% 15.3%;
  width: 11.7rem;
  height: 3.2rem;
  font-size: 1.07rem;
  font-family: "Noto Serif Georgian", serif;
  font-weight: 400;
  color: var(--color-dark-3xl);
  background-color: var(--color-light-s);
  border: none;
  border-radius: 100px;
  border: 0.15rem solid var(--color-primary);
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.btn-learn-more:hover,
.btn-learn-more:focus {
  background-color: var(--color-primary);
  cursor: pointer;
}

.btn-pagination {
  margin-top: 16%;
  font-size: 1rem;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  background-color: var(--color-light-l);
  border: none;
  border: 0.15rem solid var(--color-primary);
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.btn-pagination:hover,
.btn-pagination:focus {
  transform: scale(1.1);
  background-color: var(--color-primary);
}

.active {
  border: 0.15rem solid var(--color-primary);
  /* background-image: url("../assets/arrows/Arrow-right-act.svg"); */
}

.disable {
  border: 0.15rem solid var(--color-dark-s);
  /* background-image: url("../assets/arrows/Arrow-left-inact.svg"); */
}

.btn-block-friend {
  display: flex;
  justify-content: center;
  margin: 3.4% 0% 7.5% 0%;
}

.get-know-friends {
  width: 16.3rem;
  height: 3.3rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.get-know-friends:hover,
.get-know-friends:focus {
  color: var(--color-primary);
  background-color: var(--color-light-s);
  border: 0.15rem solid var(--color-primary);
}

.link-get-friends {
  text-align: center;
  font-family: "Noto Serif Georgian", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 130%;
  font-size: 1rem;
  color: var(--color-dark-3xl);
}

#our-friends,
#in-addition {
  background-color: var(--color-light-l);
}

@media (max-width: 1100px) {
  .section-our-friends {
    padding: 1rem 1rem 0.2rem;
  }
  .middle-card {
    margin-left: 1rem;
  }
}

@media (max-width: 980px) {
  .section-our-friends {
    padding: 0.8rem 0rem 0.1rem;
  }
  .btn-pagination {
    margin-top: 12rem;
  }

  .third-card {
    display: none;
  }
}

@media (max-width: 768px) {
  .section-our-friends {
    padding: 1rem 1.5rem 2.9rem;
  }

  .title-our-friends {
    padding: 2rem 2rem 1.1rem;
  }

  .btn-pagination {
    margin-top: 12rem;
  }

  .btn-block-friend {
    padding-top: 2.3rem;
  }

  .middle-card {
    margin: 0rem 0rem 0rem 2rem;
  }

  .third-card {
    display: none;
  }
}

@media (max-width: 750px) {
  .section-our-friends {
    padding: 0.5rem auto;
  }

  .title-our-friends {
    font-size: 1.8rem;
    padding: 1.5rem 2rem 0.4rem;
  }

  .third-card,
  .middle-card {
    display: none;
  }
}

@media (max-width: 420px) {
  .section-our-friends {
    padding: 0.5rem 4rem 0.1rem;
  }

  .title-our-friends {
    font-size: 1.8rem;
    padding: 1.5rem 2rem 0.4rem;
  }
  .example-pets {
    flex-wrap: wrap;
  }

  .btn-pagination {
    order: 2;
    margin-top: 3rem;
  }

  .third-card,
  .middle-card {
    display: none;
  }
}

@media (max-width: 320px) {
  .section-our-friends {
    padding: 0.5rem 0rem 1.1rem;
  }

  .title-our-friends {
    font-size: 1.6rem;
    padding: 0.5rem 0rem 1rem 0rem;
  }

  .get-know-friends {
    margin-top: -0.4rem;
  }
}

/* popup---------------------------------------------------------------------------------------------------- */
.modal-window {
  display: none;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  cursor: pointer;
}

.modal-popup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  max-width:650px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: var(--color-light-s);
  border-radius: 0.8rem;
  cursor: default;
}

.modal-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1.5rem 1rem 0.5rem;
  box-sizing: border-box;
  width: 50%;
  color: #000000;
}
.modat-items {
  color: var(--color-primary);
  line-height:1.5rem;
}

.img-popup {
  margin:1rem 0rem 0rem 0.5rem;
  border-radius: 0.08rem 0px 0px 0.08rem;
}

.modal-subitem {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}

.all-modal {
  font-family: "Georgia";
  color: #000000;
}

.name {
  font-style: normal;
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 130%;
  letter-spacing: 0.06em;

}

.description {
font-style: normal;
font-weight: 400;
font-size: 0.8rem;
line-height: 110%;
letter-spacing: 0.06em;
}

.type-breed {
margin-top: -9rem;
font-size:1.2rem;
line-height: 115%;
letter-spacing: 0.06em;
}

.close-popup-btn {
  position: absolute;
  right: -50px;
  top: -50px;
  font-size: 1rem;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: 0.1rem solid var(--color-primary);
  background-image: url(../assets/arrows/modal_close_button.svg);
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.close-popup-btn:hover {
  transform: scale(1.1);
  background-color: var(--color-primary);
}

@media (max-width: 860px) {
  .modal-popup {
    max-width:500px;
    justify-content: space-between;
  }

  .img-popup {
    width: 250px;
    height: 250px;
  }

  .modal-text {
    padding: 1rem;
  }
}

@media (max-width:654px) {
  .modal-popup {
    max-width: 85%;
    justify-content: space-between;
  }

  .img-popup  {
    display: none;
  }

  .modal-text {
    padding:0rem 0.5rem;
    width: 100%;
  }

  .close-popup-btn {
    right: -35px;
    top: -50px;
  }
}

@media (max-width: 520px) {
  .modal-popup {
    max-width: 80%;
  }
}

@media (max-width: 320px) {
  .modal-popup {
    max-width: 75%;
  }
  .modat-items {
    display: flex;
    flex-wrap: wrap;
  }
}
/* help----------------------------------------------------------------------------------------------------- */
.section-help {
  display: flex;
  flex-direction: column;
  padding: 2.7rem 2.4rem 3.6rem 5.1rem;
}

.title-help {
  padding: 0rem 26rem 0.5rem 23.5rem;
}

.help-figure-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.figure-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 7%;
}

.figure-img {
  height: auto;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}

.figcaption-text-help {
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 115%;
  font-size: 1.25rem;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .section-help {
    padding: 3rem 2rem 3rem 3rem;
  }

  .title-help {
    padding: 0rem 24rem 0.5rem 22rem;
  }
}

@media (max-width: 1100px) {
  .section-help {
    padding: 3rem auto;
  }

  .title-help {
    padding: 0rem 22rem 0.5rem 16rem;
  }

  .figcaption-text-help {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .title-help {
    padding: 0rem 14rem 0.5rem 12rem;
  }

  .figcaption-text-help {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .section-help {
    justify-content: space-between;
    padding: 2.9rem 0rem 3.45rem 0rem;
  }

  .title-help {
    padding: 0rem 12rem 0.5rem 12.3rem;
  }

  .help-figure-block {
    flex: 1 0 calc((100% - 9 * 60px) / 9);
  }

  .figcaption-text-help {
    font-size: 1.3rem;
  }
}

@media (max-width: 680px) {
  .section-help {
    justify-content: left;
    padding: 2rem 0rem 0rem 0rem;
  }

  .title-help {
    padding: 0rem 5rem 0.5rem 5rem;
  }

  .figcaption-text-help {
    font-size: 0.95rem;
  }

  .img-help {
    width: 45px;
    height: 55px;
  }
}

@media (max-width: 320px) {
  .section-help {
    padding: 1rem 0rem 1.5rem;
  }

  .title-help {
    padding: 0rem 1.7rem 0.5rem 2rem;
    font-size: 1.6rem;
  }

  .figure-help {
    margin: 0.5rem 0.6rem 0rem 3rem;
  }

  .help-figure-block {
    justify-content: flex-start;
  }

  .img-help {
    width: 50px;
    height: 50px;
  }
}

/* in addition ---------------------------------------------------------------------------------------------------------------------*/
.section-in-addition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.8rem 5rem 5.7rem;
}

.addition-img-dog {
  margin: 2.9rem 1.9rem 0rem 6.5rem;
}

.title-in-addition {
  text-align: left;
  padding: 0rem 11rem 0rem 0rem;
  margin-bottom: -0.3rem;
  letter-spacing: 0.06em;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 130%;
  color: var(--color-dark-l);
}

.text-in-addition {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 0.94rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.credit-card-block {
  margin-top: -0.5rem;
  width: 21.8rem;
  height: 2.8rem;
  display: flex;
  justify-content: space-between;
  justify-items: baseline;
  padding: 2.4% 3%;
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.credit-card-block:hover {
  background-color: var(--color-light-xl);
  box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem var(--color-primary);
}

.addition-number {
  padding-left: 1%;
  font-family: "Georgia Regular";
  font-weight: 300;
  letter-spacing: 0.06em;
  line-height: 115%;
  color: var(--color-dark-l);
  font-size: 1.25rem;
}

.p-in-addition {
  padding: 0.6rem 7rem 0rem 0rem;
  font-family: "Arial Italic";
  font-size: 0.75rem;
  line-height: 140%;
  color: var(--color-dark-m);
}

@media (max-width: 1100px) {
  .section-in-addition {
    flex-wrap: wrap-reverse;
    padding: 2.4rem 18rem 5rem 18rem;
  }
  .addition-img-dog {
    margin: 3.2rem 16rem 0rem 0rem;
  }
}

@media (max-width: 980px) {
  .section-in-addition {
    flex-wrap: wrap-reverse;
    padding: 2.4rem 12rem 5rem 15rem;
  }
  .addition-img-dog {
    margin: 3.2rem 13rem 0rem 0rem;
  }
}

@media (max-width: 768px) {
  .section-in-addition {
    flex-wrap: wrap-reverse;
    padding: 2.8rem 5rem 6.2rem 8rem;
  }

  .text-block-addition {
    padding: 0.1rem 0rem 0rem 4rem;
  }

  .addition-img-dog {
    margin: 3.2rem 15rem 0rem 0.1rem;
  }

  .title-in-addition {
    padding-right: 11rem;
    margin-bottom: -0.4rem;
  }
}

@media (max-width: 640px) {
  .section-in-addition {
    padding: 1.4rem 2rem 2rem 0rem;
  }

  .addition-img-dog {
    margin: 3rem 0rem 0rem 5rem;
    width: 320px;
    height: 160px;
  }

  .title-in-addition {
    padding: 0rem 5rem 0rem 0rem;
  }
}

 @media (max-width: 420px) {
 
  .section-in-addition {
    padding: 1rem 0rem 2.67rem;
  }

  .text-block-addition {
    padding: 0rem 0rem 0rem 1rem;
  }

  .title-in-addition {
    text-align: center;
    padding: 0rem 3rem 0.15rem 1rem;
    font-size: 1.4rem;
  }

  .title-in-addition {
    text-align: center;
    padding: 0rem 3rem 0.15rem 1rem;
    font-size: 1.2rem;
  }

  .p-in-addition {
    text-align: left;
    padding: 0.5rem 0.6rem 0rem 0.1rem;
    letter-spacing: 0.025rem;
    line-height: 150%;
  }

  .credit-card-block {
    width: 281px;
    height: 43px;
    margin-left: 0.2rem;
    padding-left: 1rem;
  }

  .addition-number {
    font-size: 0.95rem;
    margin: 0.3rem;
  }

  .addition-img-dog {
    margin: 1.8rem 3rem 0rem 1.9rem;
    width: 260px;
    height: 135.2px;
  } 
} 

@media (max-width: 320px) {
  .section-in-addition {
    padding: 1rem 0rem 2.67rem;
  }

  .text-block-addition {
    padding: 0rem 0rem 0rem 1rem;
  }

  .title-in-addition {
    text-align: center;
    padding: 0rem 3rem 0.15rem 2rem;
    font-size: 1.6rem;
  }
  .text-in-addition {
    padding: 0.3rem 0rem 0.6rem 0.4rem;
    font-size: 0.85rem;
  }
  .p-in-addition {
    text-align: left;
    padding: 0.5rem 0.6rem 0rem 0.1rem;
    letter-spacing: 0.025rem;
    line-height: 150%;
  }

  .credit-card-block {
    width: 281px;
    height: 43px;
    margin-left: 0.2rem;
    padding-left: 1rem;
  }

  .addition-number {
    font-size: 0.95rem;
    margin: 0.3rem;
  }

  .addition-img-dog {
    margin: 1.8rem 3rem 0rem 1.9rem;
    width: 260px;
    height: 135.2px;
  }
}

/* footer -------------------------------------------------------------------------------*/
#footer {
  background-color: var(--start-screen-gradient-background);
  background: linear-gradient(to right, #5b483a, #262425),
    url(../assets/img/noise_transparent@2x.png);
  background-blend-mode: overlay;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 2.5rem 0rem 0rem;
}

.footer-block-contacts {
  padding-left: 2.5rem;
  margin-right: 7rem;
}

.footer-block-locations {
  padding-right: 10.5rem;
}

.footer-title {
  font-weight: 300;
  font-size: 2.1rem;
  color: var(--color-light-xl);
  letter-spacing: 0.08em;
  line-height: 135%;
}

.footer-contacts {
  margin-right: 2rem;
}

.footer-link {
  display: flex;
  justify-content: space-between;
  font-family: "Georgia Regular";
  font-weight: 300;
  font-size: 1.25rem;
  color: var(--color-primary);
  letter-spacing: 0.06em;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.mail {
  margin: 0.5rem 4.7rem 0rem 0rem;
}

.phone {
  margin: 0.3rem 5.5rem 0rem 0rem;
}

.south {
  margin: 1rem 1.5rem 0rem 0rem;
}

.footer-boston {
  margin-top: 0.3rem;
}

.footer-south {
  margin-top: 0.7rem;
}

.footer-mail,
.footer-phone {
  margin-bottom: 1.5rem;
}

.footer-img-block {
  margin-top: 1rem;
}

.footer-img-puppy {
  display: flex;
  justify-content: flex-end;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--color-light-xl);
  text-decoration-line: underline;
}

@media (max-width: 1100px) {
  .footer {
    flex-wrap: wrap;
    padding: 0rem 2rem;
  }

  .footer-block-contacts {
    order: 1;
    flex-basis: calc(50% - 10px);
    margin-right: 0rem;
  }

  .footer-block-locations {
    order: 2;
    flex-basis: calc(50% - 10px);
    margin-left: 0rem;
  }

  .footer-img-block {
    order: 3;
    width: 100%;
    margin-left: 14rem;
  }
  .mail {
    margin-right: 11rem;
  }

  .phone {
    margin-right: 12rem;
  }
  .south {
    margin-right: 2rem;
  }

  .boston {
    margin-right: 1rem;
  }
}

@media (max-width: 940px) {
  .footer {
    padding: 0rem;
  }

  .mail {
    margin-right: 7rem;
  }

  .phone {
    margin-right: 8rem;
  }
  .south {
    margin-right: 0rem;
  }

  .boston {
    margin-right: 0rem;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 0rem 0rem 0rem 1.5rem;
  }

  .footer-block-contacts {
    order: 1;
    flex-basis: calc(50% - 10px);
    margin-right: 0rem;
  }

  .footer-block-locations {
    order: 2;
    flex-basis: calc(50% - 10px);
    padding-right: 3rem;
  }

  .footer-img-block {
    order: 3;
    width: 100%;
    margin: 1.2rem 0rem 0rem 13rem;
  }

  .mail {
    margin: 0.5rem 4.5rem 0rem 0rem;
  }

  .phone {
    margin: 0.3rem 5.1rem 0rem 0rem;
  }

  .south {
    margin: 1rem 3rem 0rem 0rem;
  }

  .boston {
    margin: -0.1rem 1.5rem 0rem 0rem;
  }

  .footer-mail,
  .footer-phone {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 680px) {
  .footer {
    padding: 0rem;
  }
  .mail {
    margin-right: 2rem;
  }

  .phone {
    margin-right: 3rem;
  }

  .south {
    margin: 0rem;
  }

  .boston {
    margin: 0rem;
  }

  .footer-img-block {
    justify-content: center;
    margin: 1.2rem 0rem 0rem;
  }
}

@media (max-width: 586px) {
  .footer {
    padding: 1rem 1rem 0rem;
  }

  .footer-block-contacts {
    order: 1;
    flex-basis: 100%;
    padding: 0rem;
  }

  .footer-block-locations {
    order: 2;
    flex-basis: 100%;
    padding: 0rem;
  }

  .footer-title {
    text-align: center;
    font-size: 1.6rem;
  }
  .mail {
    margin-right: 7rem;
  }

  .phone {
    margin-right: 8rem;
  }

  .south {
    margin: 1rem 5rem 0rem 0rem;
  }

  .boston {
    margin: -0.1rem 4rem 0rem 0rem;
  }
}

@media (max-width: 360px) {
  .footer {
    padding: 0rem 1rem;
  }

  .footer-block-contacts {
    padding: 0.4rem 0rem 0rem 2rem;
  }

  .footer-block-locations {
    margin-top: -1rem;
  }

  .footer-title {
    font-size: 1.5rem;
  }

  .mail {
    margin: 1.2rem 1rem 0rem 0rem;
  }

  .phone {
    margin: 1.5rem 1.5rem 1rem 0.5rem;
  }

  .south {
    margin: 1.5rem 1.5rem 0rem 0rem;
  }

  .boston {
    margin: 1rem 0rem 0rem 0rem;
  }

  .footer-boston {
    margin: 1.3rem 0rem 0rem -0.5rem;
  }

  .footer-south {
    margin: 1.3rem 0rem 0rem -0.5rem;
  }

  .footer-phone {
    margin: 1rem 0rem 0rem -0.5rem;
  }

  .footer-mail {
    margin: 1rem 0rem 0rem -1rem;
  }

  .footer-img-puppy {
    width: 260px;
    height: 269px;
    margin: 0rem 0rem 0.1rem 1rem;
  }
}